<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/normaliza.css">
  <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre Registro</title>
</head>
<body>
    <header class="bg-yellow p-1">
        <h1 class="w-50">
          <img src="/imagenes/logo-mercado-liebre.svg" alt="Mercado Liebre">
        </h1>
        <div class="p-1">
          <input type="text" placeholder="Buscá productos por nombre, marcas o palabras clave">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="text-center">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
        <nav>
          <ul class="py-1">
            <li><a class="nav-link" href="#">Ofertas</a></li>
            <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
            <li><a class="nav-link" href="#">Vender</a></li>
            <li><a class="nav-link" href="#">Ayuda</a></li>
          </ul>
          <ul class="py-1">
            <li>
              <a class="nav-link" href=/register
                >Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
                <form action="/register" method="post">
                    <ul>
                        <li>
                    <label for="nombre">Nombre y Apellido</label>
                    <input type="text" name="nombre" id="nombre" value="Nombre y apellido">
                       </li>

                       <li>
                    <label for="nombreUsuario">Nombre Usuario</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" value="Nombre de usuario">
                      </li>

                      <li>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="E-mail">
                     </li>
                     <li>
                        <label for="Fecha de cumpleaños">Fecha de Cumpleaños</label>
                        <input type="date" name="fecha" id="fecha" value="Fecha de cumpleaños">
                     </li>

                   </ul>

                </form>
            </li>
            <li>
              <a class="nav-link" href="#"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <li>
              <a class="nav-link" href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
            </li>
          </ul>
        </nav>
        <div class="text-center">
          <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
        </div>
      </header>

      <footer>
        <div class="footer-desk">
          <div class="w-100 text-center text-align justify-y p-1 mx-auto">
            <i class="fa-solid fa-credit-card color-blue font-em my-1"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
  
        <div>
          <div class="w-100 text-center text-align justify-y p-1 mx-auto">
            <i class="fa-solid fa-gift color-blue font-em my-1"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
          </div>
        </div>
        <div>
          <div class="w-100 text-center text-align justify-y p-1 mx-auto">
            <i class="fa-solid fa-user-shield color-blue font-em my-1"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
          </div>
        </div>
        
        <div class="w-100 text-center text-align justify-y p-1 mx-auto">
          <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
        </div>
  
          </div>
        </div>
      </footer>    
</body>
</html>